@import './common.scss';

.van-nav-bar {
  background-color: $theme-color;
  .van-icon,
  .van-nav-bar__text,
  .van-nav-bar__title {
    color: white;
  }
}

.van-field {
  &--error {
    .dynamic-text .placeholder {
      color: $theme-color;
    }
  }
}

.van-tabs {
  &__nav {
    &--complete {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
