<template>
  <p-spin :spinning="loading">
    <list-layout style="padding-bottom: 16px">
      <p-form-model
        ref="form"
        :model="formData"
        :rules="formRules"
        :label-col="{ span: 24 }"
        :wrapper-col="{ span: 24 }"
      >
        <block>
          <template v-slot:title>
            <p-breadcrumb>
              <p-breadcrumb-item>首页</p-breadcrumb-item>
              <p-breadcrumb-item>
                <%cnName%>{{ isEdit ? '编辑' : '新建' }}
              </p-breadcrumb-item>
            </p-breadcrumb>
          </template>
          <template v-slot:action>
            <p-button
              style="margin-left: 8px"
              type="primary"
              @click="handleSubmit(true)"
              :loading="loading"
              v-if="!isEdit || formData.fdStatus === 'draft'"
            >
              暂存
            </p-button>

            <p-button
              style="margin-left: 8px"
              type="primary"
              @click="handleSubmit(false)"
              :loading="loading"
            >
              {{ formData.fdStatus === 'draft' ? '提交' : isEdit ? '保存' : '提交' }}
            </p-button>

            <p-button style="margin-left: 8px" @click="handleCancel"> 取消 </p-button>
          </template>
        </block>

        <block theme="primary" title="基本信息" style="margin-top: 16px">
          <p-row style="margin-top: 16px">
            <p-col :span="8">
              <p-form-model-item label="<%cnName%>名称" prop="fdName">
                <p-input v-model="formData.fdName" placeholder="请输入" />
              </p-form-model-item>
            </p-col>
          </p-row>
        </block>

        <block style="text-align: center; margin-top: 32px">
          <p-button
            type="primary"
            style="width: 150px"
            @click="handleSubmit(false)"
            :loading="loading"
          >
            {{ formData.fdStatus === 'draft' ? '提交' : isEdit ? '保存' : '提交' }}
          </p-button>
        </block>
      </p-form-model>
    </list-layout>
  </p-spin>
</template>

<script>
import formMixin from './form';

export default {
  name: '<%cnName%>编辑',
  mixins: [formMixin],
  data() {
    const { id } = this.$route.params;
    return {
      id,
    };
  },
  computed: {
    isEdit() {
      return !!this.id;
    },
  },
  created() {
    this.initFormData(this.id);
  },
  methods: {
    handleSubmit(isDraft) {
      if (this.loading) {
        return;
      }

      const submit = (action) => {
        this.submitFormData(this.formData, action);
      };

      if (isDraft) {
        this.$confirm({
          title: '是否确认暂存表单?',
          onOk: () => {
            submit('draft');
          },
          onCancel: () => {},
        });
      } else {
        this.$refs.form.validate((valid) => {
          if (!valid) {
            this.$message.error('表单字段校验未通过');
            return;
          }

          if (!this.checkFormData(this.formData)) {
            return;
          }

          this.$confirm({
            title: '是否确认提交表单?',
            onOk: () => {
              submit(this.isEdit ? 'edit' : 'add');
            },
            onCancel: () => {},
          });
        });
      }
    },
  },
};
</script>
